@page
@model IndexModel
@{
    ViewData["Title"] = "Service Lifetimes";
}

<div class="text-center">
    <h4 class="display-5">Middleware: @Model.GuidFromMiddleware</h4>
    <br/>
    <h4 class="display-5">Page: @Model.Guid</h4>
</div>
